body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
}

.header {
    background-color: #fff;
}

.nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-list-link {
    color: #2E2F42;
    text-decoration: none;
}

.nav-list-link:hover,
.nav-list-link:focus,
.address-list-link:hover,
.address-list-link:focus {
    color: #404BBF
}

.nav-list-link:active {
    text-decoration: underline solid 4px #404BBF;

}

.address {
    font-style: normal;
}

.address-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.address-list-link {
    color: #434455;
    text-decoration: none;
}

.nav-list,
.address-list,
.about-us-list,
.team-member,
.our-portfolio-list {
    list-style-type: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.logo-1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.order-service {
    background-color: #2E2F42;
}



.order-service-btn {
    background: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.order-service-btn:hover,
.order-service-btn:focus {
    background-color: #404BBF;
}

.h-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.h-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize
}

.header-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.about-us {
    background-color: #FFFFFF;
}

.about-us-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team {
    background-color: #F4F4FD;
}

.team-member-field {
    background-color: #ffffff;
}

.our-team-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-portfolio {
    background-color: #FFFFFF;
}

.our-portfolio-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
}

.footer-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.footer .logo {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.footer .logo-two {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
